.characterContainer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 20px;
  z-index: 10;
}

.characterImage {
  width: 350px;
  height: auto;
}

.dialogueBox {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 15px;
  border-radius: 10px;

  cursor: pointer;
  max-width: 300px;
  font-size: 20px;
}

.nextButton {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 8px;
  text-align: right;
  width: 100%;
}
